<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CityViewJsonMVVM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA520F2D1FEF6B3A00DEB814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA520F411FEF6B3B00DEB814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA520F4C1FEF6B3C00DEB814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
